* {
    margin: 0;
    padding: 0;
    direction: ltr;
    text-decoration: none;
    list-style-type: none;
    font-family: "IRANSans";
}


.drop{
    width:500px ;
    height: 500px ;
    border : 0.5rem solid lightblue ;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;

}

img{
    width: 200px;
    height: 200px;
}