
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
.container{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,#8d59e9 , #c65ff9);;
}

.input-container{
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 2rem; 
  /* background-color: red;/ */
}

/* .container p{
  margin-right: 0.5rem;
} */


.paragraph{
border-radius: 0.5rem;
border: 2px solid #fefefe;
width: 30rem; 
min-height: 30rem;
margin-left: 1rem ;
padding: 1rem ;
color: #fefefe;
}

:root{
  --test-color: rgb(40, 187, 126) ;
}




